<%= image_tag attachments['logo.png'].url, alt: 'Logo' %>
<h2>Shortener Email Notification</h2>
<p><%= @user.email %></p>
<p>
  Your shortener email has been successfully updated.
</p>
<p>Shortener Wishes You a great day!</p>
