<%= image_tag attachments['logo.png'].url, alt: 'Logo' %>
<h2>Whatup from Shortener</h2>
<p><%= @user.email %></p>
<p>
  You have adjusted your settings
</p>
<p>Thanks for adjusting your settings</p>
