<%= image_tag attachments['logo.png'].url, alt: 'Logo' %>
<h2>Shortener Notification</h2>
<p><%= @user.email %></p>
<p>
  Your settings have been changed. If you did not make this change, please change your password.
</p>
<p>Thank you for using Shortener and have a great day!</p>