<%= image_tag attachments['logo.png'].url, alt: 'Logo' %>
<h2>Greetings from Shortener</h2>
<p><%= @user.email %></p>
<p>
  Your Shortener account settings were recently changed.
</p>
<p>Thanks for using the best URL shortener around, and have a great day!</p>
