<%= image_tag attachments['logo.png'].url, alt: 'Logo' %>
<h2>A message from Shortener</h2>
<p>Hi <%= @user.name %>,</p>
<p>
You have successfully updated your account settings on Shortener!
</p>
<p>Have a great day!</p>
