<%= image_tag attachments['logo.png'].url, alt: 'Logo' %>
<h2>Your account has been updated!</h2>
<p><%= @user.email %></p>
<p>
  You have made changes to your account!
</p>
<p>If you have not made these changes, please contact 911!</p>