<h3>Hello <%= @user.name %>,</h3>

<p>Just a friendly note to confirm that you have updated your Shortener settings.</p>

<p>If you did not make a change, we have likely been hacked.</p>

<p>Have a nice day!</p>

<p>The Shortener Crew</p>